.ime-practice {
  background-color: $gray-lighter;
  ul.sentence {
    display: block;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      border-radius: 3px;
      cursor: default;
      vertical-align: top;
      &.correct { 
        color: $cyan;
        .character-input mark { 
          background-color: $cyan;
        }
      }
      &.incorrect { color: $red; }
    }
  }
  .additional-sentence-information, .basic-kana-sentence, .error-history, .user-input { 
    padding: 3rem;
    > h2 { margin-bottom: 1rem; }
  }
  .additional-sentence-information {
    h2.invert { opacity: 0.35; }
    background-color: $magenta;
    dl { 
      color: $white;
      font-size: 1.25rem;
    }
  }
  .basic-kana-sentence {
    background-color: $gray-lighter;
    position: relative;
    ul {
      li {
        color: $gray-light;
        font-size: 3rem;
        &.correct, &.incorrect {
          &:hover { 
            background-color: darken($gray-lighter, 5%);
            &:after {
              position: absolute;
              width: 100%;
              left: 0;
              bottom: 0;
              padding: 0.5rem 0;
              background-color: darken($gray-lighter, 5%);
              content: attr(data-romajis);
              font-family: $font-family-base;
              font-size: 1rem;
              line-height: 1.25em;
              text-align: center;
            }
          }
        }
        .character-input {
          margin-top: 0.5rem;
          font-family: $font-family-base;
          font-size: 0.8rem;
          font-weight: bold;
          text-align: center;
          mark {
            display: inline-block;
            margin-bottom: 0.5rem;
            width: calc(100% - 1em);
            color: $gray-lighter;
            background-color: transparent;
            border-radius: 3px;
            opacity: 0.5;
          }
        }
      }
    }
  }
  .error-history {
    position: relative;
    background-color: $gray-lighter;
    ul.sentence { 
      font-size: 1.25rem;
      li {
        &.incorrect { font-weight: bold; background-color: scale-color($red, $lightness: 90%); border: thin solid scale-color($red, $lightness: 70%); }
      }
    }
    ul.kana-error {
      margin: 0;
      padding: 0;
      li { 
        display: inline-block; 
        margin: 0;
        padding: 0;
        vertical-align: middle;
        &:first-child {
          color: $red;
          font-weight: bold;
          width: 4em;
        }
        &:not(:first-child) {
          margin-right: 0.25em;
          padding: 0 0.25em;
          background-color: $gray-lighter;
          color: $gray;
          border-radius: 3px;
        }
      }
    }
    .clear-error-history {
      position: absolute;
      top: 2.5rem;
      right: 3rem;
    }
  }
  .user-input {
    background-color: $base02;
    &.incorrect {
      input[type=text] {
        border-bottom-color: $red;
        color: red;
      }
    }
    input[type=text] {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: thin solid rgba($white, 0.25);
      color: $white;
      font-size: 2rem;
      font-weight: bold;
      outline: none;
    }
  }
}