<head>
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <!-- Generic meta data -->
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="mobile-web-app-capable">
  <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
  <meta content="notranslate" name="google">

  <!-- Page meta data -->
  <meta content="{% if page.authors %}{{ page.authors | join: ', ' | escape }}{% else %}{{ site.title | escape }}{% endif %}" name="author">
  <meta content="{% if page.seo_description %}{{ page.seo_description | escape }}{% elsif page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}" name="description">
  <meta content="{% if page.keywords %}{{ page.keywords | join: ', ' }}{% else %}{{ site.keywords | join: ', ' }}{% endif %}" name="keywords">

  <!-- Facebook data -->
  <!-- Open Graph data -->
  <!-- Twitter Card data -->
  <!-- Schema.org markup -->

  <!-- Generic link data -->
  {% stylesheet master %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Favicon data -->

  <!-- JavaScript -->
  {% javascript master %}
</head>
